video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.hero-container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.hero-container > h1 {
    padding: 0 5rem;
    color: white;
    font-size: 5rem;  
    margin-top: 0;
    text-align: left;
}

.highlighted-text{
    color: rgb(255, 114, 58);
}

.qoute{
    padding-left: 3.5%;
    padding-right: 30%;
    margin-top: 1rem;
    color: white;
    font-size: 1.5rem;  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn-list {
    padding-left: 1.7%;
    margin-top: 1%;
    display: flex; 
    flex-direction: row;
}

.icon-btn {
    color: rgb(255, 114, 58);
    margin: 0 1rem;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {

    .hero-container > h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .qoute{
        padding-left: 5%;
        padding-right: 5%;
        font-size: 1.1rem;
    }

    .icon-btn {
        margin: 5 0.5rem; 
    }

    .btn-list {
        justify-content: center; /* Center the icons on mobile */
    }

}




/* For screens larger than 600px, adjust as necessary */

/* @media (min-width: 600px) {
    .profile-pic {
        width: 12rem;
    }

    .hero-container > h1 {
        padding: 0 1.5rem; 
        font-size: 3.5rem;
    }

    .hero-container > p {
        font-size: 2rem;
    }
} */

/* For screens larger than 768px */

/* @media (min-width: 768px) {
    .profile-pic {
        width: 15rem;
    }

    .hero-container > h1 {
        padding: 0 2rem; 
        font-size: 4rem;
    }

    .hero-container > p {
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 1920px) {
    .hero-container > h1{
        font-size: 70px;
        margin-top: -150px;
    }
    .hero-container > h1{
        color: white;
        font-size: 100px;
        margin-top: 0px;
    }
}

@media screen and (max-width: 768px) {
    .hero-container > h1{
        font-size: 50px;
        margin-top: -150px;
    }

    .hero-container > p{        
        font-size: 32px;
        margin-left: 5%;
    }

    .hero-container > h1{
        color: white;
        font-size: 100px;
        margin-top: 0px;
    }
} */