.carousel{
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
}

.headerProjects > h1{
    font-size: 60px;
    text-align: center;
    padding-top: 3%;
}

.headerProjects > p {
    display: flex;
    flex-direction: row;  /* Stack children horizontally by default */
    align-items: center;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;  /* Center the container */
}

@media (max-width: 768px) {

    .headerProjects >h1 {
        text-align: center;  
    }

}
